#SERVER
server:
  port: 8080

#SPRING
spring:
  application:
    name: "EventMgmt"
  devtools:
    add-properties: false
  h2:
    console:
      enabled: true
      path: "/h2"

#SPRINGDOC OPENAPI CONFIG
springdoc:
  swagger-ui.path: "/v3/swagger-ui.html"
  api-docs.path: "/v3/api-docs"
  show-actuator: true

#MANAGEMENT
management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  endpoint:
    health:
      probes:
        enabled: true
  health:
    circuitbreakers:
      enabled: true
  tracing:
    sampling:
      probability: 0.0
    baggage:
      correlation:
        fields:
          - "flowId"
      remote-fields: "flowId"

#SECURITY
cors:
  allowed-origins: "${CORS_ALLOWED_ORIGINS}"

#ENTRYPOINTS
entrypoint:
  sqs:
    region: "${ENTRYPOINT_SQS_REGION}"
    endpoint: "${ENTRYPOINT_SQS_ENDPOINT}"
    queueUrl: "${ENTRYPOINT_SQS_QUEUE_URL}"
    waitTimeSeconds: ${ENTRYPOINT_SQS_WAIT_TIME_SECONDS}
    maxNumberOfMessages: ${ENTRYPOINT_SQS_MAX_NUMBER_OF_MESSAGES}
    visibilityTimeoutSeconds: ${ENTRYPOINT_SQS_VISIBILITY_TIMEOUT_SECONDS}
    numberOfThreads: ${ENTRYPOINT_SQS_NUMBER_OF_THREADS}

#ADAPTERS
aws:
  region: "${AWS_REGION}"
  dynamodb:
    endpoint: "${AWS_DYNAMODB_ENDPOINT}"
    event:
      tableName: "${AWS_DYNAMODB_EVENT_TABLE_NAME}"
    inventory:
      tableName: "${AWS_DYNAMODB_INVENTORY_TABLE_NAME}"
    ticket:
      tableName: "${AWS_DYNAMODB_TICKET_TABLE_NAME}"
adapter:
  sqs:
    region: "${ADAPTER_SQS_REGION}"
    queueUrl: "${ADAPTER_SQS_QUEUE_URL}"
    endpoint: "${ADAPTER_SQS_ENDPOINT}"

#RESILIENCE
resilience4j:
  circuitbreaker:
    instances:
      createEvent:
        registerHealthIndicator: ${RESILIENCE4J_CB_CREATE_EVENT_REGISTER_HEALTH_INDICATOR}
        failureRateThreshold: ${RESILIENCE4J_CB_CREATE_EVENT_FAILURE_RATE_THRESHOLD}
        slowCallRateThreshold: ${RESILIENCE4J_CB_CREATE_EVENT_SLOW_CALL_RATE_THRESHOLD}
        slowCallDurationThreshold: "${RESILIENCE4J_CB_CREATE_EVENT_SLOW_CALL_DURATION_THRESHOLD}"
        permittedNumberOfCallsInHalfOpenState: ${RESILIENCE4J_CB_CREATE_EVENT_PERMITTED_CALLS_HALF_OPEN}
        slidingWindowSize: ${RESILIENCE4J_CB_CREATE_EVENT_SLIDING_WINDOW_SIZE}
        minimumNumberOfCalls: ${RESILIENCE4J_CB_CREATE_EVENT_MINIMUM_NUMBER_OF_CALLS}
        waitDurationInOpenState: "${RESILIENCE4J_CB_CREATE_EVENT_WAIT_DURATION_OPEN_STATE}"
      getEvents:
        registerHealthIndicator: ${RESILIENCE4J_CB_GET_EVENTS_REGISTER_HEALTH_INDICATOR}
        failureRateThreshold: ${RESILIENCE4J_CB_GET_EVENTS_FAILURE_RATE_THRESHOLD}
        slowCallRateThreshold: ${RESILIENCE4J_CB_GET_EVENTS_SLOW_CALL_RATE_THRESHOLD}
        slowCallDurationThreshold: "${RESILIENCE4J_CB_GET_EVENTS_SLOW_CALL_DURATION_THRESHOLD}"
        permittedNumberOfCallsInHalfOpenState: ${RESILIENCE4J_CB_GET_EVENTS_PERMITTED_CALLS_HALF_OPEN}
        slidingWindowSize: ${RESILIENCE4J_CB_GET_EVENTS_SLIDING_WINDOW_SIZE}
        minimumNumberOfCalls: ${RESILIENCE4J_CB_GET_EVENTS_MINIMUM_NUMBER_OF_CALLS}
        waitDurationInOpenState: "${RESILIENCE4J_CB_GET_EVENTS_WAIT_DURATION_OPEN_STATE}"
      getEventAvailability:
        registerHealthIndicator: ${RESILIENCE4J_CB_GET_EVENT_AVAILABILITY_REGISTER_HEALTH_INDICATOR}
        failureRateThreshold: ${RESILIENCE4J_CB_GET_EVENT_AVAILABILITY_FAILURE_RATE_THRESHOLD}
        slowCallRateThreshold: ${RESILIENCE4J_CB_GET_EVENT_AVAILABILITY_SLOW_CALL_RATE_THRESHOLD}
        slowCallDurationThreshold: "${RESILIENCE4J_CB_GET_EVENT_AVAILABILITY_SLOW_CALL_DURATION_THRESHOLD}"
        permittedNumberOfCallsInHalfOpenState: ${RESILIENCE4J_CB_GET_EVENT_AVAILABILITY_PERMITTED_CALLS_HALF_OPEN}
        slidingWindowSize: ${RESILIENCE4J_CB_GET_EVENT_AVAILABILITY_SLIDING_WINDOW_SIZE}
        minimumNumberOfCalls: ${RESILIENCE4J_CB_GET_EVENT_AVAILABILITY_MINIMUM_NUMBER_OF_CALLS}
        waitDurationInOpenState: "${RESILIENCE4J_CB_GET_EVENT_AVAILABILITY_WAIT_DURATION_OPEN_STATE}"
      placeTicket:
        registerHealthIndicator: ${RESILIENCE4J_CB_PLACE_TICKET_REGISTER_HEALTH_INDICATOR}
        failureRateThreshold: ${RESILIENCE4J_CB_PLACE_TICKET_FAILURE_RATE_THRESHOLD}
        slowCallRateThreshold: ${RESILIENCE4J_CB_PLACE_TICKET_SLOW_CALL_RATE_THRESHOLD}
        slowCallDurationThreshold: "${RESILIENCE4J_CB_PLACE_TICKET_SLOW_CALL_DURATION_THRESHOLD}"
        permittedNumberOfCallsInHalfOpenState: ${RESILIENCE4J_CB_PLACE_TICKET_PERMITTED_CALLS_HALF_OPEN}
        slidingWindowSize: ${RESILIENCE4J_CB_PLACE_TICKET_SLIDING_WINDOW_SIZE}
        minimumNumberOfCalls: ${RESILIENCE4J_CB_PLACE_TICKET_MINIMUM_NUMBER_OF_CALLS}
        waitDurationInOpenState: "${RESILIENCE4J_CB_PLACE_TICKET_WAIT_DURATION_OPEN_STATE}"
      getTicket:
        registerHealthIndicator: ${RESILIENCE4J_CB_GET_TICKET_REGISTER_HEALTH_INDICATOR}
        failureRateThreshold: ${RESILIENCE4J_CB_GET_TICKET_FAILURE_RATE_THRESHOLD}
        slowCallRateThreshold: ${RESILIENCE4J_CB_GET_TICKET_SLOW_CALL_RATE_THRESHOLD}
        slowCallDurationThreshold: "${RESILIENCE4J_CB_GET_TICKET_SLOW_CALL_DURATION_THRESHOLD}"
        permittedNumberOfCallsInHalfOpenState: ${RESILIENCE4J_CB_GET_TICKET_PERMITTED_CALLS_HALF_OPEN}
        slidingWindowSize: ${RESILIENCE4J_CB_GET_TICKET_SLIDING_WINDOW_SIZE}
        minimumNumberOfCalls: ${RESILIENCE4J_CB_GET_TICKET_MINIMUM_NUMBER_OF_CALLS}
        waitDurationInOpenState: "${RESILIENCE4J_CB_GET_TICKET_WAIT_DURATION_OPEN_STATE}"

# Scheduler Configuration
scheduler:
  ticket-expiration:
    fixed-delay: ${SCHEDULER_TICKET_EXPIRATION_FIXED_DELAY}